html {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* Стили для параграфов */
p {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
}
